/* Base Element Styles -------------------- */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Varela Round', sans-serif;
    font: 1em/1.5;
    color: #878787;
}

h1 {
    
    text-shadow: 5px 8px 10px #222;
}

img {
    max-width: 100%;
    margin-bottom: 20px;
    background-repeat: no-repeat;
}

/* Pseudo-classes ------------------ */

a {
    text-decoration: none;
    color: tomato;
}

a:hover {
    color: #8ebece;
}

a:active {
  color: lightcoral;
}

/* Main Styles --------------------- */

.main-header {
    color: tomato;
    font-family: 'Lobster', cursive;
    background-color: #2c2f30;
    padding-left: 20px;
    height: 1000px;
    background-image: url('../img/header-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 1.5em;
}

.main-footer {
    color: tomato;
    background-color: #2c2f30;
    padding-left: 20px;
    height: 240px;
}

.t-border {
    border-top: 10px solid tomato;
}

.list-items {
    /*margin-top: 20px;*/
    /*margin-bottom: 100px;*/
    border-style: solid solid solid none;
    border-width: 10px;
    border-color: tomato;
    font-size: 1.5em;
}

/* Layout Styles ------------------ */

.primary-content, 
.secondary-content {
  margin: auto;
  max-width: 900px;
}

.header-arrow {
    display: block;
    margin: auto;
    width: 100px;
    padding-top: 700px;
}

/* Floated Columns ------------------ */

.studying {
    width: 46.5%;
}

.studying {
    float: left;
}


/* Float Clearfix ------------------ */

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
  .container {
  width: 70%; /* stops the content from being too wide */
  max-width: 1000px;
  margin: 0 auto; /* centers the container content */ 
  
  }
}